[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/frame_boo/app
ExecStart=/home/frame_boo/app/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
